<head>
    <link rel="stylesheet" href="../css/footerStyle.css">
</head>

<footer class="footer">
    <div class="footerContainer">
        <div class="footerColumn">
            <h3>Visítenos</h3>
            <p>Mariposario Andoke<br />Cali, Valle del Cauca<br />Colombia <br /><a href="#">Más Información</a></p>
        </div>
        <div class="footerColumn">
            <img src="../img/logo natureview.png" alt="Nature View Logo" class="footerLogo" style="width: 100px;">
        </div>
        <div class="footerColumn">
            <h3>Enlaces útiles</h3>
            <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="horario2.html">Horarios</a></li>
                <li><a href="contacto.html">Contáctenos</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>NATURE VIEW © 2025</p>
        <a href="#">Política de privacidad</a> |
        <a href="#">Términos y condiciones</a>
    </div>
</footer>