<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios - Mariposario Andoke</title>
    <link rel="stylesheet" href="/css/horarios.css">
    <link rel="stylesheet" href="../css/stylenavbar.css">

</head>

<body>
    <header>
        <div id="navbar-container"></div>

        <div class="header-content container">

            <script src="/js/navbar.js"></script>
    </header>

    <!-- Contenido Principal -->
    <main class="contenedor-principal">
        <div class="container">
            <div class="header-info">
                <h1>NatureView</h1>
                <p>
                    En esta sección, encontrarás los horarios disponibles
                    para realizar el recorrido en el Mariposario de Andoke
                    en la ciudad de Cali, Colombia!
                </p>
            </div>

            <table class="tabla-especial">
                <caption>Horarios Disponibles</caption>
                <thead>
                    <tr>
                        <th>Lunes a Jueves</th>
                        <th>Viernes a Domingo y Festivos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10:00 a.m</td>
                        <td><span class="badge">10:00 a.m</span></td>
                    </tr>
                    <tr>
                        <td>12:00 p.m</td>
                        <td><span class="badge">12:00 p.m</span></td>
                    </tr>
                    <tr>
                        <td>2:00 p.m</td>
                        <td><span class="badge">2:00 p.m</span></td>
                    </tr>
                    <tr>
                        <td>No disponible</td>
                        <td><span class="badge">3:00 p.m</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/js/footer.js"></script>
</body>

</html>