<!-- navbar.html -->
<div class="menu">
    <a href="index.html" class="logo">NatureView</a>
    <input type="checkbox" id="menu">
    <label for="menu" class="menu-label">
        <img src="../img/men" class="menu-icono" alt="Menú"> <!-- Ajusta la ruta -->
    </label>
    <div class="nav-container">
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li> <!-- Ajusta rutas -->
                <li><a href="/components/servicios.html">Servicios</a></li>
                <li><a href="/components/modelos.html">Modelos3D</a></li>
                <li><a href="/components/horario2.html">Horario</a></li>
                <li><a href="/components/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>